{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'store/styles.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="login-cont">
    <div class="login-cont1">
      {% if messages %} {% for message in messages %}
      <p style="color: red">{{ message }}</p>
      {% endfor %} {% endif %}

      <form method="post">
        {% csrf_token %}
        <label for="id_username">Username:</label>
        <input type="text" name="username" required id="id_username" />

        <label for="id_password">Password:</label>
        <input type="password" name="password" required id="id_password" />

        <button type="submit">Login</button>
      </form>

      <p>Don’t have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>
  </div>
  </body>
</html>
